.banner-main {
  background: url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  width: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(sm) {
    min-height: 200px;
    &__title {
      margin-top: 16px;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.15;
      color: #fff;
      text-align: center;
      padding: 0 16px;
    }

    &__box-search {
      position: absolute;
      top: 218px;
      padding: 16px;
      background: #f0e4ea;
      min-width: 328px;
      flex-direction: column;

      h4 {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    min-height: 660px;
    &__title {
      margin-top: 120px;
      font-size: 52px;
      font-weight: bold;
      line-height: 1.15;
      color: #fff;
      width: 50%;
      text-align: center;
    }

    &__box-search {
      margin-top: 90px;
      padding: 30px;
      background: #f0e4ea;
      min-width: 1170px;

      h4 {
        margin-bottom: 0;
      }
    }
  }
}
