.footer-main {
  border-top: unset;
  .footer-bottom {
    background: #f4e9e3;
    color: #787e86;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      gap: 20px;

      .footer-social_links {
        display: flex;
      }
    }

    .footer-social-media a {
      margin-right: 16px;
    }

    p {
      font-size: 14px;
      color: #787e86;
    }
  }

  .footer-columns {
    position: relative;
    margin: 78px auto;
    padding-bottom: 0;
  }

  .footer-columns:before {
    position: absolute;
    content: "";
    background-color: #dce8dc;
    height: 6px;
    width: 100%;
    top: -78px;
  }

  .footer-column {
    &-headline {
      padding-top: 0;
      font-size: 18px;
      color: #3c424f;
      font-weight: 500;
    }

    &-content-inner {
      font-size: 16px;
      color: #787e86;
    }

    border-left: solid 6px #f4e9e3;
  }
}
