.header-row {
  padding: 0;

  @include media-breakpoint-down(sm) {
    padding: 25px 16px;
    .header-logo-col {
      display: none;
    }

    .header-logo-main {
      margin-top: 7px;
    }

    .icon > svg path {
      fill: #964c6f;
    }
  }
}
