/*
Main navigation
==============================================
Custom styling for main navigation on larger screens.

Based on bootstrap nav:
https://getbootstrap.com/docs/4.3/components/navs/
*/

.main-navigation {
   margin: 40px 0 0;

   .main-navigation-link {
      padding-bottom: 0;
   }

   .main-navigation-link span {
      color: #964c6f;
      padding-bottom: 40px;
   }

   .main-navigation-menu .active .main-navigation-link-text{
      border-bottom: 6px solid #c292a9;
   }

   .main-navigation-link-text {
      padding-bottom: 40px;
   }
}
