/*
Navigation flyout
==============================================
Custom styling for navigation flyout which opens on hover over the main navigation.
*/

.navigation-flyouts {
    @include media-breakpoint-up(sm) {
        left: 0;
        right: 0;
        top: 118px;
    }
}
