.header-search {
    margin-right: 0;

    @include media-breakpoint-down(sm){
        min-width: 328px;
        .header-search-btn {
            background: #ee9376;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .header-search-input {
            font-size: 14px;
            font-weight: normal;
            color: #b4b9be;
            height: 40px;
            border-bottom-left-radius: 6px !important;
            border-top-left-radius: 6px !important;
        }

        .input-group-prepend {
            display: none;
        }
    }

    @include media-breakpoint-up(sm) {
        min-width: 740px;

        .header-search-btn {
            background: #ee9376;
            padding: 0 42px;
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .input-group-prepend {
            position: absolute;
            z-index: 200;
            left: 16px;
            top: 14px;
        }

        .header-search-input {
            font-size: 16px;
            font-weight: normal;
            color: #b4b9be;
            height: 60px;
            padding-left: 48px;
            border-bottom-left-radius: 6px !important;
            border-top-left-radius: 6px !important;
        }

        .header-search-btn .loader {
            text-align: center;
        }
    }
}
