{% block layout_footer_social_media %}
    <div class="footer-social-media">
        <div class="row footer-links">
            {% block layout_footer_soial_links %}
                <div class="col-6 col-lg-12 footer-social_links">
                    <a class="links instagram"
                       href="{{ theme_config('sw-instagram-link') |sw_encode_url }}"
                       title="{{ "footer.instagramLink"|trans|striptags }}">
                        {% sw_icon 'ic-twitter' style {'pack' : 'shape'} %}
                    </a>
                    <a class="links facebook"
                       href="{{ theme_config('sw-facebook-link') |sw_encode_url }}"
                       title="{{ "footer.facebookLink"|trans|striptags }}">
                        {% sw_icon 'ic-facebook' style {'pack' : 'shape'} %}
                    </a>
                    <a class="links printer"
                       href="{{ theme_config('sw-pinterest-link') |sw_encode_url }}"
                       title="{{ "footer.pinterestLink"|trans|striptags }}">
                        {% sw_icon 'ic-pinterest' style {'pack' : 'shape'} %}
                    </a>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
