{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_payment_shipping_logos %}{% endblock %}

{#{% block layout_footer_navigation_hotline %}{% endblock %}#}

{% block layout_footer_bottom %}
    <div class="footer-bottom">
        {{ block('layout_footer_copyright') }}

        {{ block('layout_footer_vat') }}

        {% block layout_footer_service_menu %}
            {% sw_include '@Storefront/storefront/layout/footer/footer-social.html.twig' %}
        {% endblock %}
{#        {{ block('layout_footer_service_menu') }}#}
    </div>
{% endblock %}
