/*
CMS sections
==============================================
General styling for cms sections
*/

.cms-sections {
  .pos-0 .cms-element-text {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    border-top: 6px solid #964c6f;
    padding: 30px;

    p {
      font-size: 16px;
      color: #787e86;
    }

    h4 {
      font-weight: bold;
      color: #3c424f;
    }

    .btn {
      color: #fff;
    }

    .btn:hover {
      background-color: #964c6f;
      border-color: #964c6f;
    }
  }
}

@include media-breakpoint-down(sm) {
}
