{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
    <div class="header-cart" >
        <span class="header-cart-icon">
            {% sw_icon 'ic-shopbag' style { 'pack':'shape' } %}
        </span>
    </div>
    {% if page.cart.lineItems|length > 0 %}
        <span class="header-cart-count">
            {{ page.cart.lineItems|length }}
        </span>
    {% endif %}
{% endblock %}
