{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    {% block layout_top_bar %}{% endblock %}

    {% block layout_header_navigation %}
        <div class="row align-items-center justify-content-center header-row">
            {% block layout_header_logo %}
                <div class="col-12 d-md-block col-lg-auto header-logo-col">
                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {% block layout_header_search %}
                {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
            {% endblock %}

            {% block layout_header_actions %}
                <div class="col-12 order-1 col-sm-auto order-sm-2 header-actions-col">
                    <div class="row no-gutters">
                        {% block layout_header_navigation_toggle %}
                            <div class="col-auto d-sm-none">
                                <div class="menu-button">
                                    {{ block('layout_header_navigation_toggle_button') }}
                                </div>
                            </div>
                        {% endblock %}

                        {{ block('layout_header_search_toggle') }}

                        {% block layout_header_logo_mobile %}
                            <div class="col d-sm-none">
                                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                            </div>
                        {% endblock %}

                        {% if config('core.cart.wishlistEnabled') %}
                            {{ block('layout_header_actions_wishlist') }}
                        {% endif %}

                        {{ block('layout_header_actions_account') }}

                        {{ block('layout_header_actions_cart') }}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
