{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
    <div class="header-search">
        <form action="{{ path('frontend.search.page') }}"
              method="get"
              data-search-form="true"
              data-url="{{ path('frontend.search.suggest') }}?search="
              class="header-search-form">
            {% block layout_header_search_input_group %}
                <div class="input-group">
                    {% block layout_header_search_icon %}
                        <div class="input-group-prepend">
                            {% sw_icon 'search' %}
                        </div>
                    {% endblock %}

                    {{ block('layout_header_search_input') }}

                    {% block layout_header_search_button %}
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn header-search-btn"
                                    aria-label="{{ "header.searchButton"|trans|striptags }}">
                                {{ "header.searchButton"|trans|striptags }}
                            </button>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </form>
    </div>
{% endblock %}
