{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body_inner %}
    {{ block('base_noscript') }}

    {% block base_header %}
        {% block base_header_inner %}
            {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
        {% endblock %}
    {% endblock %}

    {% block base_navigation %}{% endblock %}

    {{ block('base_offcanvas_navigation') }}

    {% block base_off_banner %}
        <div class="banner-main">
            <div class="banner-main__title">
                {{ "header.titleBanner"|trans|sw_sanitize }}
            </div>

            <div class="row align-items-center banner-main__box-search">
                <h4>{{ "header.titleSearchBox"|trans|sw_sanitize }}</h4>

                {% block layout_header_banner_search %}
                    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {{ block('base_main') }}

    {% block base_footer %}
        <footer class="footer-main">
            {% block base_footer_inner %}
                {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
            {% endblock %}
        </footer>
    {% endblock %}
{% endblock %}
